---
import BaseLayout from './BaseLayout.astro'
const {blogTitle} = Astro.props;
const {blogSubtitle} = Astro.props;
const {blogTags} = Astro.props;

// Retrieve the list of all markdown files in the posts directory
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout 
    pageTitle = "Blog" 
    pageSubtitle="My personal blog posts">
    <slot />
    <h1>{blogTitle}</h1>
    <h2>{blogSubtitle}</h2>
    <ul>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    <p>List of blog tags</p>
    <ul>
        {blogTags.map((tags) => <li class="skill">{tags}</li>)}
    </ul>
	
</BaseLayout>